<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <h1 class="text-center mt-3 mb-5">Faça login no sistema:</h1>
        
            
                <div class="col-lg">
                    <h4>Entre com seu usuario:</h4>
                    <p>Ainda não tem uma conta? <a href="/Register">Registre-se</a></p>
                  
                    <form action="/login" method="post">
                        <%- include('includes/msgs.ejs') %>
                            <div class="form-group mb-2">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email">
                            </div>
                            <div class="form-group mb-2">
                            <label>Senha:</label>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="Digite sua senha">
                            </div>
                            <button type="submit" class="btn btn-primary">Entrar no sistema</button>
                      </form>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>