<%- include('includes/header.ejs') %>
<%- include('includes/navbar.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 class="text-center mt-3">Crie seu usuario</h1>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <h4>Faça seu Cadastro:</h4>
                    <p>Se ainda não possui uma conta, preencha o formulário abaixo.</p>
                    <form action="/login/register" method="post">
                        <div class="form-group mb-2">
                          <label>Email:</label>
                          <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email">
                        </div>
                        <div class="form-group mb-2">
                          <label>Senha:</label>
                          <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
                        </div>
                        <button type="submit" class="btn btn-primary">Criar seu cadastro</button>
                      </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer.ejs') %>